*, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	background-color: rgba(71, 71, 71, .8);
	color: rgba(255, 255, 255, .9);
	width: 100%;
	padding: 23px;
	text-align: center;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	position: absolute;
	z-index: 1000;
	margin-top: 48vh;
}

header img {
	width: 120px;
	padding: 0 20px 0 0;
	border-right: 1px solid rgba(255, 255, 255, .9);
}

header span {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 600;
	font-style: normal;
	line-height: 51px;
	vertical-align: bottom;
	padding: 0 0 0 30px;
}

.close {
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 10px;
}

.close:hover {
	color: #c4262b;
}

.hero {
	/*background: url('http://i.imgur.com/4meahG9.jpg') top center;*/
	height: 740px;
	margin-top: -140px;
	background-size: cover;
}

.ciles {
	text-align: right;
}

.progressBar {
	background-color: #474747;
	color: rgba(255, 255, 255, .9);
	padding: 23px;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, .3);
	position: relative;
}
.progressBar {
	line-height: 80px;
	vertical-align: middle;
	padding-top: 0;
	padding-bottom: 2px;
	margin-bottom: 25px;
	border-top: 1px solid #4d4d4d;
	border-bottom: 0
}

.statistics {
	text-transform: uppercase;
	margin: 0 -23px;
	padding: 0;
	font-size: 1rem;
	display: inline-block;
}
.statistics__statistic {
	list-style-type: none;
	display: inline-block;
	white-space: nowrap;
	margin-bottom: 1px
}
.statistics__statistic:first-child {
	margin-right: 30px;
}
.statistics__statistic:last-child {
	margin-bottom: 0;
	margin-left: 30px;
}
.statistics__statistic-label, .statistics__statistic-value {
	display: inline-block;
	vertical-align: middle;
	height: 60px;
	line-height: 60px;
	padding: 0 30px;
	text-transform: uppercase;
}

.statistics__statistic-label {
	font-weight: 300;
	font-size: 1.2em;
	background-color: rgba(0, 0, 0, .3);
	font-family: 'Roboto Mono', monospace;
}
.statistics__statistic-value {
	font-weight: 400;
	font-size: 2.5em;
	letter-spacing: .7ex;
	background-color: #000;
	color: #2852a0;
	font-family: 'Cutive Mono', monospace;
	/*width: 70%;*/
	/*padding-left: 8.75px*/
}

.submit {
	color: #fff;
	background-color: #2852a0;
	font-size: 15px;
	padding: 20px 60px;
	font-weight: 700;
	border-radius: 29.99999975px;
	text-align: center;
	vertical-align: middle;
	border: #224688;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	font-weight: 600;
}

.submit:hover {
	background-color: #224688;
}

.addmiles {
	width: 500px;
	height: 360px;
	background-color: #fff;
	padding: 50px 60px;
}

#page {
	width: 100%;
	padding: 80px 150px;
	display: inline-block;
}

#runner-list {

}

#instafeed {
	border: thin solid black;
	width: 40%;
	min-height: 390px;
	display: inline-block;
	margin-left: 15%;
	max-height: 450px;
	overflow: scroll;
}

.insta_pic  {
	width: 150px;
	height: 150px;
	background-size: 150% !important;
	display: inline-block;
	float: left;
	transition: .5s ease;
	cursor: pointer;
}

.insta_pic:hover  {
	background-size: 100% !important;
}

#instafeed img {
	height: 100%;
	max-width: 150px;
}

#instafeed a {
	width: 150px;
	height: 150px;
}

.left {
	float: left;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
}

th {
	background-color: #474747;
	color: rgba(255, 255, 255, .9);
}

td, th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ddd;
}






/* Dropdown Button */
.dropbtn {
    background-color: #dddddd;
    color: rgba(34, 70, 136, 0.70);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

#searchInput {
	border-box: box-sizing;
	background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png');
	background-size: 30px;
	background-position: 10px 8px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 14px 20px 12px 45px;
	border: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: rgba(34, 70, 136, 0.70);
    color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.milesInput {
	background-color: #dddddd;
    color: rgba(34, 70, 136, 0.70);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 20px 0;
}

.addmiles h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: "Raleway", Arial, sans-serif;
	color: #3d3d3d;
	margin-bottom: 20px;
}

.submitBtnWrapper {
	width: 100%;
	text-align: center;
	/*margin-left: 0 auto;*/
}

.submitBtn {
	color: #fff;
	background-color: #2852a0;
	font-size: 14px;
	padding: 20px 40px;
	border-radius: 29.99999975px;
	text-align: center;
	vertical-align: middle;
	border: #2852a0;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	font-weight: 600;
	cursor: pointer;
	/*text-shadow: 0 0 16px #fff;*/
}
.submitBtn:hover {
	color: #fff;
	background-color: #224688;
	text-shadow: 0 0 24px #fff;
}

.thanks {
	display: none;
	color: #46a443;
	font-size: 14px;
	padding: 20px 40px;
	text-align: center;
	vertical-align: middle;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	font-weight: 600;
	cursor: default;
	pointer-events: none;
}



/* =========================== FOOTER ==========================*/

#preFooter {
    background-color: #474747;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    padding: 35px;

    -webkit-transition: all .25s ease-in-out .1s;
    -moz-transition: all .25s ease-in-out .1s;
    -ms-transition: all .25s ease-in-out .1s;
    -o-transition: all .25s ease-in-out .1s;
    transition: all .25s ease-in-out .1s;
}

#preFooter a {
    color: #474747;
    text-transform: none;
    text-decoration: none;
}

#preFooter a:hover .brown {
    color: #b4aaa2;
}
#preFooter a:hover .white {
    color: #fff;
}



#footer {
    background-color: rgba(51, 51, 51, .95);
    color: rgba(255, 255, 255, .3);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding: 68px 34px;
}

.footer-inner {
	width: 310px;
	margin: 0 auto;
	text-align: center;
}

.footer_links {
	display: inline-block;
	float: left;
	text-align: center;
}

.footer_links:first-child {
	margin-right: 40px;
}

#footer .footer_links a {
    font-family: "Raleway", Arial, sans-serif;
    line-height: 1.25em;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    color: rgba(255, 255, 255, .9);
}

#footer #siteInfo {
	width: 510px;
	margin: 0 auto;
	padding: 1.5em 0 0;
	clear: left;
	color: rgba(255, 255, 255, .3);
	font-family: "Raleway", Arial, sans-serif;
	line-height: 1.2em;
	letter-spacing: .4px;
	font-weight: 400;
	font-style: normal;
}





/*================= HERO VIDEO ==========================*/


.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    margin-top: -37px;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 1000;
    position: absolute;
    /*background: rgba(0, 0, 0, 0.4);*/
    background: rgba(0, 0, 0, 0.35) url('../img/overlay.png') !important;
    width: 100%;
    height: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}



/*================= HERO VIDEO ==========================*/

#lightbox {
	/*top: 40% !important;*/
}




